<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1 class="display-6 my-font" th:text="${greeting}"></h1>
        <p class="lead my-font">Hello, Manatawut Kaewthong.</p>
        <p class="my-font">What are you doing?</p>
        <img src="WP_20130824.jpg"/>
        <a class="my-font" th:href="@{/customer}">Customer, please register</a>
    </div>
</div>
